Repository opendistro-for-elasticsearch/kibana-reports, pull requests merged in 2020-11, with the labels that each got.

#195 Updated Time Range Parsing in Report Details
  kibana-reports/public/components/main/report_details/report_details.tsx
  kibana-reports/target/public/.kbn-optimizer-cache
  kibana-reports/target/public/1.plugin.js
  kibana-reports/target/public/1.plugin.js.map
Labels: kibana-reports

#203 [reports-scheduler] Add support for Elasticsearch 7.10.0
  reports-scheduler/.gitignore
  reports-scheduler/build-tools/esplugin-coverage.gradle
  reports-scheduler/build.gradle
  reports-scheduler/gradle.properties
  reports-scheduler/gradle/wrapper/gradle-wrapper.properties
  reports-scheduler/src/main/kotlin/com/amazon/opendistroforelasticsearch/reportsscheduler/model/CreateReportDefinitionRequest.kt
  reports-scheduler/src/main/kotlin/com/amazon/opendistroforelasticsearch/reportsscheduler/model/CreateReportDefinitionResponse.kt
  reports-scheduler/src/main/kotlin/com/amazon/opendistroforelasticsearch/reportsscheduler/model/DeleteReportDefinitionRequest.kt
  reports-scheduler/src/main/kotlin/com/amazon/opendistroforelasticsearch/reportsscheduler/model/DeleteReportDefinitionResponse.kt
  reports-scheduler/src/main/kotlin/com/amazon/opendistroforelasticsearch/reportsscheduler/model/GetAllReportDefinitionsRequest.kt
  reports-scheduler/src/main/kotlin/com/amazon/opendistroforelasticsearch/reportsscheduler/model/GetAllReportInstancesRequest.kt
  reports-scheduler/src/main/kotlin/com/amazon/opendistroforelasticsearch/reportsscheduler/model/GetReportDefinitionRequest.kt
  reports-scheduler/src/main/kotlin/com/amazon/opendistroforelasticsearch/reportsscheduler/model/GetReportDefinitionResponse.kt
  reports-scheduler/src/main/kotlin/com/amazon/opendistroforelasticsearch/reportsscheduler/model/GetReportInstanceRequest.kt
  reports-scheduler/src/main/kotlin/com/amazon/opendistroforelasticsearch/reportsscheduler/model/GetReportInstanceResponse.kt
  reports-scheduler/src/main/kotlin/com/amazon/opendistroforelasticsearch/reportsscheduler/model/InContextReportCreateRequest.kt
  reports-scheduler/src/main/kotlin/com/amazon/opendistroforelasticsearch/reportsscheduler/model/InContextReportCreateResponse.kt
  reports-scheduler/src/main/kotlin/com/amazon/opendistroforelasticsearch/reportsscheduler/model/OnDemandReportCreateRequest.kt
  reports-scheduler/src/main/kotlin/com/amazon/opendistroforelasticsearch/reportsscheduler/model/OnDemandReportCreateResponse.kt
  reports-scheduler/src/main/kotlin/com/amazon/opendistroforelasticsearch/reportsscheduler/model/PollReportInstanceResponse.kt
  reports-scheduler/src/main/kotlin/com/amazon/opendistroforelasticsearch/reportsscheduler/model/ReportDefinition.kt
  reports-scheduler/src/main/kotlin/com/amazon/opendistroforelasticsearch/reportsscheduler/model/ReportDefinitionDetails.kt
  reports-scheduler/src/main/kotlin/com/amazon/opendistroforelasticsearch/reportsscheduler/model/ReportInstance.kt
  reports-scheduler/src/main/kotlin/com/amazon/opendistroforelasticsearch/reportsscheduler/model/SearchResults.kt
  reports-scheduler/src/main/kotlin/com/amazon/opendistroforelasticsearch/reportsscheduler/model/UpdateReportDefinitionRequest.kt
  reports-scheduler/src/main/kotlin/com/amazon/opendistroforelasticsearch/reportsscheduler/model/UpdateReportDefinitionResponse.kt
  reports-scheduler/src/main/kotlin/com/amazon/opendistroforelasticsearch/reportsscheduler/model/UpdateReportInstanceStatusRequest.kt
  reports-scheduler/src/main/kotlin/com/amazon/opendistroforelasticsearch/reportsscheduler/model/UpdateReportInstanceStatusResponse.kt
  reports-scheduler/src/main/kotlin/com/amazon/opendistroforelasticsearch/reportsscheduler/util/Helpers.kt
  reports-scheduler/src/test/resources/job-scheduler/opendistro-job-scheduler-1.10.1.0.zip
  reports-scheduler/src/test/resources/job-scheduler/opendistro-job-scheduler-1.12.0.0.zip
Labels: reports-scheduler, version compatibility

#205 [Kibana-reports]Add support for Kibana 7.10.0
  .github/workflows/kibana-reports-release-workflow.yml
  .github/workflows/kibana-reports-test-and-build-workflow.yml
  .gitignore
  kibana-reports/.babelrc
  kibana-reports/.gitignore
  kibana-reports/.kibana-plugin-helpers.json
  kibana-reports/babel.config.js
  kibana-reports/common/index.ts
  kibana-reports/kibana.json
  kibana-reports/package.json
  kibana-reports/public/components/context_menu/context_menu.js
  kibana-reports/public/components/context_menu/context_menu_helpers.js
  kibana-reports/public/components/context_menu/context_menu_ui.js
  kibana-reports/public/components/main/__tests__/__snapshots__/main.test.tsx.snap
  kibana-reports/public/components/main/__tests__/__snapshots__/report_definitions_table.test.tsx.snap
  kibana-reports/public/components/main/__tests__/__snapshots__/reports_table.test.tsx.snap
  kibana-reports/public/components/main/report_definition_details/__tests__/__snapshots__/report_definition_details.test.tsx.snap
  kibana-reports/public/components/report_definitions/report_settings/__tests__/__snapshots__/report_settings.test.tsx.snap
  kibana-reports/target/public/.kbn-optimizer-cache
  kibana-reports/target/public/0.plugin.js
  kibana-reports/target/public/0.plugin.js.map
  kibana-reports/target/public/1.plugin.js
  kibana-reports/target/public/1.plugin.js.map
  kibana-reports/target/public/opendistroKibanaReports.plugin.js
  kibana-reports/target/public/opendistroKibanaReports.plugin.js.map
  kibana-reports/test/jest.config.js
  kibana-reports/test/setupTests.ts
  kibana-reports/yarn.lock
Labels: kibana-reports, version compatibility
